html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.mobile-menu {
  display: none;
}

.img-wrapper {
  border-radius: 1.25rem;
  width: 80%;
  height: 70%;
  margin: 30px;
  animation: all 3s ease-in-out;
  transform: rotate(-5deg);
  box-shadow: 7px 5px 20px 5px rgba(255, 87, 255, 0.413);
}

.img-wrapper .app-screenshot {
  border-radius: 1.25rem;
  height: 100%;
}

.img-wrapper:hover {
  transform: rotate(3deg) scale(1.2);
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.hidden-project-description-1 {
  display: inline;
  position: absolute;
  z-index: 9;
  background-color: rgba(188, 188, 188, 0.815);
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.hidden-project-description-1::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hidden-project-description-2 {
  display: inline;
  position: absolute;
  z-index: 9;
  background-color: rgba(188, 188, 188, 0.815);
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.hidden-project-description-2::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hidden-project-description-3 {
  display: inline;
  position: absolute;
  z-index: 9;
  background-color: rgba(188, 188, 188, 0.815);
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.hidden-project-description-3::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hidden-project-description-4 {
  display: inline;
  position: absolute;
  z-index: 9;
  background-color: rgba(188, 188, 188, 0.815);
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.hidden-project-description-4::-webkit-scrollbar {
  width: 0;
  height: 0;
}

p {
  padding: 5px 10px 7px 10px;
  font-size: 0.8em;
  color: rgb(138, 68, 176);
}

.fancy-a {
  padding: 7px 20px;
  border: 1px solid purple;
  border-radius: 1.25rem;
}

.github-color {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.custom-nav {
  display: flex;
  justify-content: space-evenly;
}

.custom-nav a {
  margin: 0 10px;
}

.bio-img {
  display: inline-block;
  width: 200px;
  height: 290px;
  border-radius: 1.25rem;
  box-shadow: 7px 5px 20px 5px rgba(255, 87, 255, 0.413);
  margin: 15px;
  margin-top: 7px;
  z-index: 2;
}

.about-flex {
  display: flex;
  margin-top: 100px;
}

.about-flex div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-flex div p {
  font-size: 1em;
  margin: 0 10%;
  /* color: rgb(136, 122, 232); */
}

.resume {
  font-size: 1.25rem;
  border-radius: 1.25rem;
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume a {
  padding-bottom: 5px;
}

.resume p {
  text-align: center;
  transform: translateX(-5px);
}

@media (max-width: 800px) {
  .img-wrapper {
    height: 135px;
    width: 250px;
  }

  .grid-item {
    border-radius: 1.25rem;
    padding: 0 !important;
    /* transform: translateX(-50px); */
  }

  .mobile-menu {
    display: inline;
  }

  .mobile-menu-el {
    position: absolute;
    z-index: 9;
  }

  .custom-nav a {
    display: none;
  }

  .bio-img {
    height: 220px;
    width: 160px;
  }

  .about-flex div p {
    font-size: 11px;
  }
}
